@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
*{font-family: 'Nanum Gothic', sans-serif;}
.wrap{
  overflow: hidden;
}
html,body{
  width: 100%;
  height: 100%;
}
/********************************************************************
                                  메인화면 
**********************************************************************/
.section-1{
  height:100%;
  /* background-color: rgb(88, 156, 105) */
}
/**********************유틸영역********************/
.utill{
  height: 30px;
  /* background-color: pink; */
  display: flex;
  justify-content: end;
  align-items: center;
}
.utill span{
  word-spacing:5px;
  font-size: 14px;
  cursor: pointer;
}
.utill span:last-child{
  margin-left: 10px;
  margin-right: 10px;
}
.utill span i{}

/**********************헤더영역********************/
header{
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  /* padding: 0 20px; */
  z-index: 9999;
  background-color: #fff;
}
header .logo{
  width: 350px;
  height: 100%;
  background-color:#033586;
}
header .logo a{
  display: inline-block;
  height: 100%;
  width: 100%;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
}
header nav{
  width: calc(100% - 550px);
  /* background-color: rgb(103, 103, 117); */
}
header nav>.gnb{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav>.gnb>li{
  font-size: 18px;
  font-weight:550;
  margin: 0 30px;
}
header nav>.gnb>li>a{
  display: block;
  width: 100%;
  height: 100%;
}
header nav>.gnb>li:hover>a{
  border-bottom: 1px solid #033586;
}

header .lang{
  width: 100px;
  /* background-color: rgb(231, 212, 212); */
  position: relative;
}
header .lang #select{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:50%;
  height: 40px;
  border: none;
  appearance: none;
  background-image:url(../images/caret-down-solid.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 15px;
  background-color: transparent;
  font-weight: bold;
  font-size: 16px;
}
select::-ms-expand { 
	display: none;
}

header .lang #select option{
  background-color: #fff;
  margin-top: 10px;
  font-size: 18px;
  border: none;
}

header .ham-bar{
  width: 100px;
  /* background-color: antiquewhite; */
  position: relative;
}
header .ham-bar a{}
header .ham-bar a i{
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
header .ham-bar a i.close{
  opacity: 0;
}
/**********************main-bg********************/
.main-bg{
  height:600px;
  background-color: #dee3f7;
}
.main-bg{
  background-image: url(../images/main-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/**********************serch-box********************/
.serch-box{
  height: 100px;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.serch-box input{
  width: 800px;
  height: 60px;
  font-size: 15px;
  border: 0;
  border-radius: 30px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(243, 243, 243);
  margin-right: 25px;
  padding: 0 55px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.serch-box i{
  position: absolute;
  top:50%;
  left:29%;
  transform: translateY(-50%);
}
.serch-box button{
  position: absolute;
  top: 50%;
  right: 30%;
  transform: translateY(-50%);
  height: 50px;
  width: 200px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  background-image: linear-gradient(to top, #3464ce, #759ffa);
  color: #fff;
  letter-spacing: 2px;
  cursor: pointer;
}
/**********************link-text********************/
.link-text{
  height: 50px;
  /* background-color: #797373; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-text p{
  text-align: center;
  margin: 0 20px;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 12px;
  color: #333;
}
/*******************************************************************
                                  파리바게트 카테고리 
*********************************************************************/
.section-2{
  height: 550px;
  /* background-color: pink; */
  padding: 20px 0;
}
.section-2 h2{
  text-align: center;
  height: 10%;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.section-2 .section-2-slider{
  height: 80%;
}

.swiper {
  width: 90%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.swiper-slide:hover img{
  border-radius: 30px;
  margin-top: -5px;
  transition: all 0.5s;
}

.swiper-slide img{
  width: 90%;
  /* height: 80%; */
  border-radius: 30px;
  margin-top: 20px;
}
.slide-1{
  position: relative;
}
.swiper-slide p{
  background-image: url(../images/Frame\ 45.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-color: #033586; */
  width: 100%;
  height: 100px;
  border-radius: 30px;
  transition: all 0.5s;

}
.swiper-slide p:hover{

}
.swiper-button-next,
.swiper-button-prev{
  color: #333 !important;
}
@media (max-width: 760px) {
  .swiper-button-next {
    right: 20px;
    transform: rotate(90deg);
  }

  .swiper-button-prev {
    left: 20px;
    transform: rotate(90deg);
  }
}
/*******************************************************************
                                베스트제품 
*********************************************************************/
.section-3{
  height: 600px;
  background-color: rgb(104, 96, 97)
}
/********************************************************************
                                고객문의 및 불편사항 
***********************************************************************/
.section-4{
  height:900px;
  background-color: bisque;
  padding: 20px;
  position: relative;
}
.section-4 h2{
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
}
.section-4 .contents-wrap{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  height: 800px;
  margin-top: 30px;
  /* background-color: #333; */
}
.contents-wrap .contents-img{
  display: flex;
  width: 100%;
  /* background-color: yellow; */
  justify-content: center;
}

.contents-wrap .contents-img .contents-img-1,
.contents-wrap .contents-img .contents-img-2{
  height: 300px;
  margin: 0 50px;
  position: relative;
}

.contents-wrap .contents-img img{
  border-radius: 30px;
  margin-right: 50px;
  height: 250px;
  margin-top: 20px;
}
.contents-wrap .contents-img p{
  position: absolute;
  top: 30%;
  left: 11%;
  transform: translate(-30%,-10%);
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
}
.contents-wrap .contents-img .p-2{
  position: absolute;
  top: 50%;
  left:8% ;
  transform: translateX(-8%);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
}

.contents-wrap .contents-img .p-3{
  position: absolute;
  top: 60%;
  left:10% ;
  transform: translateX(-10%);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
}
.contents-wrap .contents-img .p-3 span{
  color: crimson;
  font-size: 14px;
}

.section-4 .section4-text-wrap{
  height: 500px;
  background-color: pink;
}

/**********************************************************************
                                  푸터 
************************************************************************/
footer{
  height: 400px;
  background-image: url(../images/footer.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color:#454a56;
}