@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
*{font-family: 'Nanum Gothic', sans-serif;}
.wrap{
  overflow: hidden;
  position: relative;
}
html,body{
  width: 100%;
  height: 100%;
}


/********************************************************************
                                  메인화면 
**********************************************************************/
.section-1{
  height:100%;
  /* background-color: rgb(88, 156, 105) */
}
/**********************유틸영역********************/
.utill{
  /* position: fixed;
  width: 100%; */
  height: 30px;
  /* background-color: pink; */
  display: flex;
  justify-content: end;
  align-items: center;
}
.utill span{
  word-spacing:5px;
  font-size: 14px;
  cursor: pointer;
}
.utill span:last-child{
  margin-left: 10px;
  margin-right: 10px;
}
.utill span i{}

/**********************헤더영역********************/
header{
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  /* padding: 0 20px; */
  z-index: 8888;
  background-color: #fff;
}
header .logo{
  width: 350px;
  height: 100%;
  background-color:#033586;
}
header .logo a{
  display: inline-block;
  height: 100%;
  width: 100%;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
}
header nav{
  width: calc(100% - 550px);
  /* background-color: rgb(103, 103, 117); */
  position: relative;
}
header nav>.gnb{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav>.gnb>li{
  font-size: 18px;
  font-weight:600;
  margin: 0 30px;
  position: relative;
}
header nav>.gnb>li>a{
  display: block;
  width: 100%;
  height: 100%;
}
header nav>.gnb>li:hover>a{
  border-bottom: 2px solid #033586;
  line-height: 1.5;
}

header nav .sub{
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: #fff;
  z-index: 88889;
  top:60px;
}
.sub>li{
  width: 100px;
}
.sub>li a{
  display: block;
  height: 30px;
  line-height: 30px;
}

.sub li:hover a{
  display: block;
  border-bottom: 2px solid #033586;
}

.nav-bg{
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: #fff;
  top: 100px;
  left: 0;
  z-index: 88888;
  display: none;
}
.sub{display: none;}



header .lang{
  width: 100px;
  /* background-color: rgb(231, 212, 212); */
  position: relative;
}
header .lang #select{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:50%;
  height: 40px;
  border: none;
  appearance: none;
  background-image:url(../images/caret-down-solid.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 15px;
  background-color: transparent;
  font-weight: bold;
  font-size: 16px;
}
select::-ms-expand { 
	display: none;
}

header .lang #select option{
  background-color: #fff;
  margin-top: 10px;
  font-size: 18px;
  border: none;
}

header .ham-bar{
  width: 100px;
  /* background-color: antiquewhite; */
  position: relative;
}
header .ham-bar a{}
header .ham-bar a i{
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
header .ham-bar a i.close{
  opacity: 0;
}
/**********************main-bg********************/
.main-bg{
  height:600px;
  background-color: #dee3f7;
}
.main-bg{
  background-image: url(../images/main-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/**********************serch-box********************/
.serch-box{
  height: 100px;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.serch-box input{
  width: 800px;
  height: 60px;
  font-size: 15px;
  border: 0;
  border-radius: 30px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(243, 243, 243);
  margin-right: 25px;
  padding: 0 55px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.serch-box i{
  position: absolute;
  top:50%;
  left:29%;
  transform: translateY(-50%);
}
.serch-box button{
  position: absolute;
  top: 50%;
  right: 30%;
  transform: translateY(-50%);
  height: 50px;
  width: 200px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  background-image: linear-gradient(to top, #3464ce, #759ffa);
  color: #fff;
  letter-spacing: 2px;
  cursor: pointer;
}
.serch-box button:hover{
  background-image: linear-gradient(to top, #a7bff4, #1158f2);
}
/**********************link-text********************/
.link-text{
  height: 50px;
  /* background-color: #797373; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-text p{
  text-align: center;
  margin: 0 20px;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 12px;
  color: #333;
}
/*******************************************************************
                                  파리바게트 카테고리 
*********************************************************************/
.section-2{
  height: 550px;
  /* background-color: pink; */
  padding: 20px 0;
}
.section-2 h2{
  text-align: center;
  height: 10%;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.section-2 .section-2-slider{
  height: 80%;
}

.swiper {
  width: 90%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.swiper-slide:hover img{
  border-radius: 30px;
  margin-top: -3px;
  transition: all 0.5s;
}


.swiper-slide img{
  width: 90%;
  /* height: 80%; */
  border-radius: 30px;
  margin-top: 20px;
}
.slide-1{
  position: relative;
}
.swiper-slide .p-1{
  width: 100%;
  height: 100px;
  line-height: 100px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  transition: all 0.5s;

}
.swiper-slide p:hover{

}
.swiper-button-next,
.swiper-button-prev{
  color: #333 !important;
}
@media (max-width: 760px) {
  .swiper-button-next {
    right: 20px;
    transform: rotate(90deg);
  }

  .swiper-button-prev {
    left: 20px;
    transform: rotate(90deg);
  }
}
/*******************************************************************
                                베스트제품 
*********************************************************************/
.section-3{
  height: 600px;
  /* background-color: rgb(104, 96, 97); */
  padding: 30px;
}
.section3-row-1{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: -20px;
}
.section-3 h2,
.section-3 i{
  font-size: 30px;
  margin-left: 20px;
}
.section3-row-2{
height: 50%;
/* background-color: yellow; */
display: flex;
justify-content:center;
flex-flow: wrap;
padding: 10px;
}

.instabox{
  width: 15%;
  filter: grayscale(0%);
  border-radius: 15px;
  margin-left: 50px;
}
.instabox a{
  display: inline-block;
  height: 100%;
  width: 100%;
}

.instabox:hover{
  transform: scale(1.1);
  border-radius: 15px;
  filter: grayscale(60%);
}

.section3-row-3{
  height: 50%;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  padding: 10px;
}

.instabox-1{
  background-image: url(../images/section3-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:bottom;
}
.instabox-2{
  background-image: url(../images/section3-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;  
  background-position:bottom;
}
.instabox-3{
  background-image: url(../images/section3-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:bottom;
}
.instabox-4{
  background-image: url(../images/section3-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:bottom;
}
.instabox-5{
  background-image: url(../images/section3-5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:bottom;
}
.instabox-6{
  background-image: url(../images/section3-6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:bottom;
}
.instabox-7{
  background-image: url(../images/section3-7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:bottom;
}
.instabox-8{
  background-image: url(../images/section3-8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:bottom;
}


/********************************************************************
                                고객문의 및 불편사항 
***********************************************************************/
.section-4{
  height:900px;
  background-color: rgba(255, 228, 196, 0.579);
  padding: 50px;
  position: relative;
}
.section-4 h2{
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.section-4 .contents-wrap{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  height: 800px;
  margin-top: 30px;
  /* background-color: #333; */
}
.contents-wrap .contents-img{
  display: flex;
  width: 100%;
  /* background-color: yellow; */
  justify-content: center;
}

.contents-wrap .contents-img .contents-img-1,
.contents-wrap .contents-img .contents-img-2{
  height: 300px;
  margin: 0 50px;
  position: relative;
}

.contents-wrap .contents-img img{
  border-radius: 30px;
  margin-right: 50px;
  height: 250px;
  margin-top: 20px;
}

.contents-wrap .contents-img img:hover{
  transform: scale(1.1);
}

.contents-wrap .contents-img p{
  position: absolute;
  top: 30%;
  left: 11%;
  transform: translate(-30%,-10%);
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
}
.contents-wrap .contents-img .p-2{
  position: absolute;
  top: 50%;
  left:8% ;
  transform: translateX(-8%);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
}

.contents-wrap .contents-img .p-3{
  position: absolute;
  top: 60%;
  left:10% ;
  transform: translateX(-10%);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
}
.contents-wrap .contents-img .p-3 span{
  color: crimson;
  font-size: 14px;
}

.section-4 .section4-text-wrap{
  height: 500px;
  /* background-color: pink; */
  padding: 30px 20px;
}
.section-4 .section4-text-wrap .row-1{
  display: flex;
  justify-content:space-between;
  height: 80px;
  background-color: #fff;
  align-items: center;
  padding: 0 50px;
  margin-bottom: 20px;
}
.section-4 .section4-text-wrap .row-1 h3{
  font-size: 22px;
  font-weight:bold;
}
.section-4 .section4-text-wrap .row-1 button{
  width: 200px;
  height: 40px;
  font-size: 14px;
  font-weight: 800;
  border: 1px solid #ddd;
  border-radius: 15px;
  background-color: #fff;
  cursor: pointer;
  letter-spacing: 2px;
}
.section-4 .section4-text-wrap .row-1 button:hover{
  background-color: #033586;
  color: #fff;
  transition: all 0.7s;
}
.section-4 .section4-text-wrap .row-2-f,
.section-4 .section4-text-wrap .row-3-f,
.section-4 .section4-text-wrap .row-4-f{
  display: flex;
  justify-content:space-between;
  height: 90px;
  /* background-color: #fff; */
  align-items: center;
  padding: 0 50px;
  margin-bottom: 20px;
}

.row-2-f .row-2-1,
.row-2-f .row-2-2,
.row-3-f .row-3-1,
.row-3-f .row-3-2,
.row-4-f .row-4-1,
.row-4-f .row-4-2{
  width: 45%;
  height: 100%;
  background-color: #fff;
  border-radius: 15px;
}

.row-2-f .row-2-1 p,
.row-2-f .row-2-2 p,
.row-3-f .row-3-1 p,
.row-3-f .row-3-2 p,
.row-4-f .row-4-1 p,
.row-4-f .row-4-2 p{
  line-height: 88px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 15px;
  border: 1px solid #eee;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.row-2-f .row-2-1,
.row-2-f .row-2-2,
.row-3-f .row-3-1,
.row-3-f .row-3-2,
.row-4-f .row-4-1,
.row-4-f .row-4-2{
  position: relative;
}

.row-2-f .row-2-1 img,
.row-2-f .row-2-2 img,
.row-3-f .row-3-1 img,
.row-3-f .row-3-2 img,
.row-4-f .row-4-1 img,
.row-4-f .row-4-2 img{
  position: absolute;
  width: 50px;
  height: 50%;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  border-radius: 100px;
  border: 3px solid #033586;
  background-color: #fff;
  display: none;
  transition: all 0.7s;
}
.row-2-f .row-2-1:hover img,
.row-2-f .row-2-2:hover img,
.row-3-f .row-3-1:hover img,
.row-3-f .row-3-2:hover img,
.row-4-f .row-4-1:hover img,
.row-4-f .row-4-2:hover img{
  display: block;
}

.row-2-f .row-2-1:hover p,
.row-2-f .row-2-2:hover p,
.row-3-f .row-3-1:hover p,
.row-3-f .row-3-2:hover p,
.row-4-f .row-4-1:hover p,
.row-4-f .row-4-2:hover p{
  font-weight: bold;
}




/**********************************************************************
                                  푸터 
************************************************************************/
footer{
  height: 300px;
  background-color:#454a56;
  display: flex;
  justify-content: space-around;
  padding:20px 50px;
  align-items: center;
}
footer .footer-1{
  width: 30%;
  height: 100%;
  position: relative;
}

footer .footer-1 .footer-1-text{
  width: 500px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
footer .footer-1 .footer-1-text p:first-child{
  font-size: 25px;
  font-weight:bold;
  margin-bottom: 30px;
}
footer .footer-1 .footer-1-text p{
  color: #fff;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: 550;
  font-size: 14px;
}
footer .footer-2{
  width: 30%;
  height: 100%;
  position: relative;
}

footer .footer-2 .footer-2-icon{
  background-color: #454a56;
  width: 500px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
footer .footer-2 .footer-2-icon .footer-2-icon-1{
  display: flex;
  margin-bottom: 20px;
}
footer .footer-2 .footer-2-icon .footer-2-icon-1 p{
  width: 150px;
  height: 100px;
  margin-right: 20px;
}
footer .footer-2 .footer-2-icon .footer-2-icon-1 p img{
  object-fit:contain;
  width:130px;
  height: 100px;
}
footer .footer-2 .footer-2-icon .footer-2-icon-2{
  display: flex;
  justify-content: space-between;
}
footer .footer-2 .footer-2-icon .footer-2-icon-2 p{
  width: 85px;
  height: 80px;
}
footer .footer-2 .footer-2-icon .footer-2-icon-2 p img{
  object-fit:contain;
  width: 65px;
  height: 70px;
}

footer .footer-3{
  width: 30%;
  height: 100%;
  position: relative;
}

.footer-3-sns{
  width: 500px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.footer-3-sns p{
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px;
}
.footer-3-sns .footer-sns-icon{
  display: flex;
  
}
.footer-3-sns .footer-sns-icon i{
  font-size: 30px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #fff;
  margin-right: 20px;
  border-radius: 100px;
  margin-bottom: 30px;
  color: #454a56;
}
.footer-3-sns .footerbox{
  width: 200px;
  height: 50px;
  border:1px solid  #fff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.footer-3-sns .footerbox>p{
  display: block;
  font-size: 14px;
  line-height: 50px;
}

/********************************************************/
#myBtn {
  /* display: none; */
  position: fixed;
  bottom:30px;
  right: 30px;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:#033586;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 100px;
  z-index: 8000;
  width: 70px;
  height:70px;
}

#myBtn:hover {
  background-color: #555;
}

